.secondPageContainer{
    height: 120vh;
padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondPageContainerHero{
    height: 80%;
width: 100%;
display: flex;
justify-content: space-between;
}
.secondPageContainerHeroLeft{
    width: 53%;
    
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   
}
.meryem{
    
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.secondPageContainerHeroRight{
    width: 40%;
    margin-right: 40px;
    background: linear-gradient(0.25turn, #acd5e8, #eaebdd);

}
.secondPageContainerHeroLeftHight{
    height: 20%;
    position: relative;
}
.topTitle{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7rem;

position: absolute;
top: 0;
position: absolute;
text-transform: uppercase;
font-size: 1.2rem;
font-weight: 400;

top: 0;

color: rgb(121, 119, 119);
letter-spacing: 1px;
margin-bottom: 10px;
}
@keyframes title {
    0%{
top: -10%;
left: 0;

    }
    20%{
top: 5%;
left: 0;

color: rgb(100, 176, 201);

    }
    40%{
        top: 5%;
        left: 40px;
        color: rgb(100, 176, 201);
        
            }
            60%{
                top: 20%;
                left: 40px;
                color: rgb(100, 176, 201);
                
                    }
                    80%{
                        top: 20%;
                        left: 80px;
                        color: rgb(100, 176, 201);
                        
                            }
    100%{
        top: 0%;
        left: 0;

            }
}

.topText{
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    top: 30%;
    letter-spacing: 1px;
    
    
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(54, 128, 247, 1) 0%,
      rgba(240, 173, 71, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    @keyframes text {
        0%{
    top: 60%;
    left: 0;
    
        }
        20%{

    left: 0;
    
    color: rgb(100, 176, 201);
    
        }
        40%{
            
            left: 40px;
            color: rgb(100, 176, 201);
            
                }
                60%{
                    
                    left: 40px;
                    color: rgb(100, 176, 201);
                    
                        }
                        80%{
                            
                            left: 80px;
                            color: rgb(100, 176, 201);
                            
                                }
        100%{
            
            left: 0;
    
                }
    }

.topText:hover{
    cursor: pointer;
    color: rgb(56, 84, 94);
}
.secondPageContainerHeroLeftMiddle{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.emailStyle{
    text-decoration: underline;
    font-weight: 600;
    

font-size: 1.4rem;
    text-transform: uppercase;
    color: rgb(121, 119, 119);
    letter-spacing: 1px;
    margin-bottom: 10px;

}
.texto{
    color: rgb(121, 119, 119);
font-size: 1.1rem;
}

.secondPageContainerHeroLeftBottom{
   height: 20%;
   display: flex;
 

    width: 100%;
  
}
.one{
    background: linear-gradient(0.25turn,  #f3f4e3  ,  #aed7ea);
    height: 100%;
    width: 40%;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  
}
.one:hover{

   
  
    
      }


.two{
    background-color: #aed7ea;
    height: 100%;
    width: 30%;
    margin-right: 7px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
   

}
.two:hover{

 }
@keyframes two {
    from{
opacity: 0;
transform: translateY(-100px);

    }
    to{
opacity: 1;
transform: translateY(0px);

    }
}

.three{
    height: 100%;
    width: 30%;
    background-color: #aed7ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.three:hover{
   
 }
.icon{
    height: 100%;
color: blue;
font-size: large;
width: 100%;
background-color: red;

}
.imgIcon{
    height: 30%;
    width: 20%;
}

.above{
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    grid-gap: 10%;
}
.aboveOne{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.i{
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    padding: 10px 0 10px 0;
}
select:focus{
    outline: none;
}
option{
    background-color: transparent;
}
.i:focus{
    outline: none;
}
.i::placeholder{
    color: black;
}
select{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0 10px 0;
}
.bottom{
    height: 45%;
    display: flex;
   
    align-items: flex-end;
   

}
.bottomContainer{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   padding-left: 20px;
    
}
.icone{
    font-size: 40
}
.inputs{
    width: 90%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
   
}
.inputs:focus{
    outline: none;
}
.inputs::placeholder{
    color: gray;
    font-weight: 400;
}
.rights{
    font-size: 0.65rem;
    font-weight: 600;
    width: 90%;
}
.agree{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 0.6rem;
}
.submit{
    border: 2px dashed black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    position: relative;
    display: flex;
    align-items: center;

}
.absoluteSubmit{
    font-size: 0.8rem;
    font-weight: 700;
    color: #4db8ff;
    position: absolute;
    right: -25px;
}
span{
    color:#33adff;   
}

@media only screen and (min-width: 600px) and  (max-width: 900px) {
    .secondPageContainer{
        height: 200vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .emailStyle{
        text-decoration: underline;
        font-weight: 600;
        
    
    font-size: 1rem;
        text-transform: uppercase;
        color: rgb(121, 119, 119);
        letter-spacing: 1px;
        margin-bottom: 10px;
    
    }
    .secondPageContainerHero{

        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        }
        .secondPageContainerHeroLeft{
            width: 80%;
            display: flex;
            flex-direction: column;
           align-items: flex-start; 
           height: 46%;

        }
        .secondPageContainerHeroRight{
            margin-left: 30px;
            width: 80%;
            background: linear-gradient(0.25turn, #c8e7f5, #eaebdd);
            height: 50%;

        }
        .meryem{
    
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
        }
        .above{
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;
            height: 50%;
            justify-content: space-evenly;
        }

        .imgContainer{
            height: 60%;
            width: 80%;
            position: relative;
        }
        .imgContainer:hover{
            border-top: 2px solid lightblue ;
            border-right: 2px solid lightblue ;
        
            transform: translate(10px, 10px);
        
        }
  }

  @media only screen and    (min-width: 470px)  and (max-width: 600px) {
    .secondPageContainer{
        height: 200vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secondPageContainerHeroLeftHight{
        height: 20%;
        margin-bottom: 20px;
    }
    .emailStyle{
        text-decoration: underline;
        font-weight: 600;
        
    
    font-size: 1rem;
        text-transform: uppercase;
        color: rgb(121, 119, 119);
        letter-spacing: 1px;
        margin-bottom: 10px;
    
    }
    .secondPageContainerHero{

        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        }
        .secondPageContainerHeroLeft{
            width: 80%;
            display: flex;
            flex-direction: column;
           align-items: flex-start; 
           height: 46%;

        }
        .secondPageContainerHeroRight{
            margin-left: 30px;
            width: 80%;
            background: linear-gradient(0.25turn, #c8e7f5, #eaebdd);
            height: 50%;

        }
        .meryem{
    
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
        }
        .above{
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;
            height: 50%;
            justify-content: space-evenly;
        }

        .imgContainer{
            height: 60%;
            width: 80%;
            position: relative;
        }
        .imgContainer:hover{
            border-top: 2px solid lightblue ;
            border-right: 2px solid lightblue ;
        
            transform: translate(10px, 10px);
        
        }
  .icone{
      font-size: 0.8rem;
  }
}
  


@media only screen and    (max-width: 470px)  {
    .secondPageContainer{
        padding-top: 40px;
        height: 180vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .emailStyle{
        text-decoration: underline;
        font-weight: 600;
        
    
    font-size: 1rem;
        text-transform: uppercase;
        color: rgb(121, 119, 119);
        letter-spacing: 1px;
        margin-bottom: 10px;
    
    }
    .secondPageContainerHero{

        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        }
        .secondPageContainerHeroLeft{
            width: 80%;
            display: flex;
            flex-direction: column;
           align-items: flex-start; 
           height: 40%;

        }
        .secondPageContainerHeroRight{
            margin-left: 30px;
            width: 80%;
            background: linear-gradient(0.25turn, #c8e7f5, #eaebdd);
            height: 58%;

        }
        .meryem{
    
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
        }
        .above{
            display: grid;
            grid-template-columns: 1fr ;
            flex-direction: column;
            height: 50%;
            justify-content: space-evenly;
        }

        .imgContainer{
            height: 60%;
            width: 80%;
            position: relative;
        }
        .imgContainer:hover{
            border-top: 2px solid lightblue ;
            border-right: 2px solid lightblue ;
        
            transform: translate(10px, 10px);
        
        }
        .secondPageContainerHeroLeftHight{
            height: 20%;
            margin-bottom: 20px;
        }
        .secondPageContainerHeroLeftMiddle{
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
        }
  .icone{
      font-size: 0.8rem;
  }
  .secondPageContainerHeroLeftBottom{
    height: 40%;
    display: flex;
  flex-direction: column;
 
     width: 100%;
   
 }
 .one{
    background: linear-gradient(0.25turn,  #fbfcf0  ,  #c8eafa);
    height: 30%;
    width: 100%;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.two{
    background: linear-gradient(0.25turn,  #fbfcf0  ,  #c8eafa);
    height: 30%;
    width: 100%;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.three{
    background: linear-gradient(0.25turn,  #fbfcf0  ,  #c8eafa);
    height: 30%;
    width: 100%;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topTitle{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
}
.topText{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7rem;
}

}
  

